html {  
    scroll-behavior: smooth; 
 
}

nav {
    padding: 10px;
    margin-top: 4px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

nav li{
    display: block;
    float: left;
    text-align: center;
    margin-right: 10px;
}

nav button{
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 5px;
}

#socials_div ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

#main{
    padding-top:40px;
    font-size: 20px;
}

.main_div{
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_column, .right_column{
    width:50%;
}

.left_column{
    text-align: left;
    height: 100%;
    border-right: 1px dashed lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right_column{
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column_info{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#what_is_button{
    background-color: #a46dbd;
}

#login_form{
    display: none;
}

input{
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 5px;
}

.form_button{
    padding: 5px;
    background-color: #a46dbd;
    border: none;
    border-radius: 8px;
}

#login_form, #create_account_form{
    background-color: black;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 5px 5px 5px black;
}

#login_form input, #create_account_form input{
    width: 90%;
    margin-bottom: 10px;
}

#login_form button, #create_account_form button{
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
}
#login_form button:hover, #create_account_form button:hover{
    background-color: #7e5491;
}

h1{
    color: #2d0440;
}

#account_info_div, #extra_account_info_div{
    background-color: black;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 30px;
    color: white;
}

#socials_div li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
}

@media only screen and (max-width: 800px) {
    .main_div{
        height: 500px;
        margin-bottom: 500px;
        display: block;
    }
    
    .left_column, .right_column{
        width:100%;
        border: none;
    }

    .column_info{
        width: 250px;

    }

    #contact_div{
        margin-bottom: 600px;
    }

    #socials_div ul{
        display: block;
        text-align: center;
        
    }
    #socials_div li{
        margin-bottom: 10px;
    }

    #title{
        display: none;
    }
}






#sign_up_div, #account_div{
    display: none;
}